[submodule "Praction/vendor/spdlog"]
	path = Praction/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Praction/vendor/GLFW"]
	path = Praction/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Praction/vendor/imgui"]
	path = Praction/vendor/imgui
	url = https://github.com/nessarus/imgui
